doctype html
html
    head
        title Student Details
        style.
    body
        h1 THEATRE IS #{movies.Theatre}
        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY5ZXrA6VXyKTdpQ90tXQBt6sxH54CfIR9WHa0sExHBA&s', height='450', width='1500' align='center')
        table(border='1' align='center' height='20', width='700')
            tr(align='center')
                th MOVIES 
                td=movies.Movie1 
                td=movies.Movie2 
                td=movies.Movie3
            tr(align='center')
                th TIMINGS 
                td  
                    a.book(href="book.html") 11:30
                td 
                    a.book(href="book.html") 1:30
                td
                    a.book(href="book.html") 3:30
                    